
/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@use "./fonts/roboto";

@use "./tw-starter/dist/scss/starter.scss";

// @use "../css/vendors/toastify.css";
@use "../css/vendors/tabulator.css";
@use "../css/vendors/tippy.css";
/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS/SCSS components.
 |
 */
@use "./components/global";
@use "./components/main";
@use "./components/top-bar";
@use "./components/login";
@use "./components/table-report";
@use "./components/report-timeline";
@use "./components/report-chart";
@use "./components/search";
@use "./components/notification";
@use "./components/report-box";
@use "./components/report-box-2";
@use "./components/content";
@use "./components/top-nav";
@use "./components/side-nav";
@use "./components/breadcrumb";

@use "./components/feather-icon";
@use "./components/top-bar-boxed";
@use "./components/mobile-menu";
@use "./components/boxed-tabs";
@use "./components/chat-dropdown";
@use "./components/wizard";
@use "./components/pricing-tabs";
@use "./components/error-page";
@use "./components/search-result";
@use "./components/notification-content";
@use "./components/report-maps";
@use "./components/pos-dropdown";
@use "./components/pos";
@use "./components/post";
@use "./components/litepicker";
// @use "./components/tippy";
@use "./components/toastify";
@use "./components/toastify-content";
// @use "./components/tabulator";

@use "./components/ads-box";
@use "./components/full-calendar";
@use "./components/pristine";
@use "./components/tom-select.css";

.btn-primary-auth{
  @apply w-full text-white bg-theme-3 border-0 py-2 px-8 focus:outline-none hover:bg-theme-1 rounded text-lg;
}

.btn-primary-auth.disable{
  @apply bg-gray-500
}

.modal-business-list{
  @apply rounded py-4 px-2 font-medium flex justify-between text-base text-gray-700 border border-solid
}

.table-action-btn{
 @apply flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md   
}

.btn-info {
  @apply bg-primary-9 text-white;
}

.yr-form-tabs{
  @apply lg:flex sm:flex-auto items-center p-2 rounded-md font-medium text-gray-700 text-sm
}

.yr-form-tabs.active{
  @apply text-black rounded bg-theme-2 capitalize
}

.tabulator-row-odd,.tabulator-row-even{
  background: #fff !important;
}

.yr-label{
  @apply text-base text-gray-700 font-medium
}

.yr-form-control{
  @apply border-2 shadow-none outline-none border-gray-300; 

  &:focus{
    @apply outline-none ring-0 shadow-none border-gray-400 
  }
  
  &:disabled,
  &[readonly] {
    @apply bg-gray-100 cursor-not-allowed;
  }
  
}

.vue-tel-input {
  @apply border-gray-300 border-2 rounded-md #{!important};
  @apply  appearance-none placeholder-gray-500  shadow-none outline-none ;   
}

.dark {
  .vue-tel-input {
    @apply bg-dark-2 border-transparent;
  }
}

.tail-select:focus .select-label {
  @apply border-2 outline-none ring-0 shadow-none border-gray-400 
     
}

.yr-checkbox,.yr-radio{
  @apply flex justify-start items-start;

  .div-checkbox, .div-radio {
    @apply bg-white border-2 rounded w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500;
  }

  .select-all{
    @apply select-none leading-loose uppercase text-gray-700;
  }

  svg {
    @apply fill-current hidden w-4 h-4 text-blue-500 pointer-events-none
  }

  input:checked + svg {
    display: block;
  }

}

.yr-radio .div-radio {
  @apply rounded-full
}

.yr-checkbox.checked,.yr-radio.checked{
  .div-checkbox,.div-radio {
    @apply  bg-blue-500 border-blue-500;
  }

  svg {
    @apply text-white;
  }
}

.yr-form-control.error,
.form-select.error,
.vue-tel-input.error,
.error ~ .tail-select .select-label{
  @apply border-theme-6
}


.error-border-2 ~ .tail-select .select-label{
  @apply border-theme-6 border-2;
}

// invoice

.invoice-form .form-control{
  @apply border-2 shadow-none outline-none border-gray-300; 

  &:focus{
    @apply outline-none ring-0 shadow-none border-gray-400 
  }

}

.invoice-add-item{
  @apply btn border-none rounded-none cursor-pointer block bg-white text-theme-1 font-medium text-base;
  &:hover,
  &:focus {
    @apply bg-theme-1 text-white
  }
}

.item td .yr-checkbox{
  @apply flex justify-center items-center;
  
  .div-checkbox {
    @apply mr-0;
  }
  
}

.invoice-customer-box,.invoice-tax-box{
  @apply px-5 py-10 text-center cursor-pointer relative;
}

.invoice-customer-list,.invoice-tax-list{
  @apply absolute -left-1 top-0 w-full border;

  .selected div{
    @apply text-white
  }
}

.badge-success{
  @apply rounded text-xs btn-outline-success px-2 py-1 border font-medium
}

.invoice-tax-list{
  @apply rounded shadow-sm left-0;

  .tax-options{
    @apply max-h-64 overflow-scroll bg-white;

    .item {
      @apply p-2 font-medium relative text-left cursor-pointer;

      &:hover{
        @apply bg-gray-200;
      }
      
    }

    .item.disabled,
    .item.disabled:hover{
      cursor: default !important;
      background: transparent !important;
      color: #ccc !important;
    }
  }
}

.invoice-tr {
  @apply py-5 border-gray-400 border-b;

  .status {
    @apply px-2 py-1 rounded font-medium
  }

  
}

.view-invoice-db{
  @apply border border-r border-dashed w-px h-12 mx-4 xl:mx-5
}

//invoice


//btn

.add-btn{
  @apply border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-opacity-20 bg-theme-1 border-theme-1 text-white mr-2 shadow-md
}

.export-btn {
  @apply border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-opacity-20 bg-white text-slate-500 shadow-sm
}

.setting-menu {

  h3{
    @apply text-xs font-medium uppercase text-gray-400 my-2 ml-2;
  }

  a {
    @apply flex text-gray-600 pl-2 py-2 text-sm font-medium;
  }

  a.active {
    @apply bg-theme-1 text-white rounded;
  }

}
.select-control{
  position: relative;
}
.select-control .select-label{
  border-width:  2px !important;
}

.select-control.error .select-label{
  @apply border-theme-6
}


.text-primary{
  @apply text-theme-3
}

.text-success{
  @apply text-theme-9
}

.text-error{
  @apply text-theme-6
}

.btn-outline-danger{
  @apply hover:text-white
}


.default-business-star{
  fill: rgba(247, 139, 0, var(--tw-bg-opacity));
}

@media print
{    
    .no-print, .no-print *,
    .dropdown-menu
    {
        display: none !important;
    }
}


.tom-select {
    &.ts-wrapper,
    &.plugin-dropdown_input.focus.dropdown-active {

        @apply border-2 shadow-sm rounded border-gray-300 text-gray-400;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(74 85 104)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
        background-size: 18px;
        background-position: center right 0.6rem;
        background-repeat: no-repeat;
        .ts-control {
            border: 0;
            display: flex;
            outline: none;
            min-height: 36px;
            align-items: center;

            font-size: inherit;
             @apply py-2 px-3;
            input {
                font-size: inherit;
            }
        }
    }
    &.ts-wrapper.disabled {
        @apply bg-slate-100;
    }
    &.ts-wrapper.single.input-active .ts-control {
        background-color: transparent;
    }
    &.ts-wrapper.multi {
        &.has-items .ts-control {
            @apply py-1 px-2.5 gap-y-1 gap-x-2.5;
        }
        .ts-control > div {
          margin: 0 0 0 -0.375rem;;
             @apply py-0 px-2 rounded bg-slate-200;
        }
    }
    &.ts-wrapper.plugin-remove_button .item .remove {
        display: flex;
        align-items: center;
        justify-content: center;
        @apply py-1 px-2 border-slate-300;
    }
    &.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
        @apply ml-2;
    }
    &.ts-wrapper .dropdown-header {
        @apply p-2.5 font-medium bg-slate-100 border-slate-200; 
    }
    &.plugin-dropdown_input.focus.dropdown-active {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' transform='rotate(180)' fill='none' stroke='rgb(74 85 104)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    }
    &.plugin-dropdown_input .dropdown-input-wrap .dropdown-input {
        outline: none;
    }
    .ts-dropdown {
        left: -1px;
        right: -1px;
        width: auto;
        z-index: 50;
        margin-top: 1px;
        font-size: inherit;
        @apply shadow-sm rounded border-slate-200 border;
        .dropdown-input-wrap {
            @apply p-2;
            .dropdown-input {
              @apply rounded border border-slate-200;
            }
        }
        .optgroup-header {
            @apply bg-slate-100 font-medium py-2.5 px-3;
        }
        .option {
            @apply p-2.5 px-3;
            &[data-selectable] {
                &.active:not(.selected) {
                    color: inherit;
                    background-color: transparent;
                    @apply bg-slate-100;
                }
                &:hover:not(.selected) {
                    color: inherit;
                     @apply bg-slate-100;
                }
            }
        }
        .selected {
            color: white;
            @apply bg-primary-1;
        }
        [data-selectable] .highlight {
            color: white;
            @aplly bg-danger;
        }
    }
}

.lucide {
  @apply inline-block;
}

.tabulator{
  overflow: visible;
}

.tabulator .tabulator-footer .tabulator-paginator{
  @apply mb-4;
}

.tabulator .tabulator-tableholder{
  overflow: visible;
}